In [26]:
import warnings
warnings.filterwarnings("ignore")#to ignore warnings
import pandas as pd
from scipy.stats import chi2
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
sales_data=pd.read_csv('Sales_add.csv')

In [28]:
sales_data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [29]:
sales_data.describe(include='all')

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
count,22,22,22,22.000000,22.000000
unique,22,3,3,NaN,NaN
top,Month-9,Region - A,Manager - A,NaN,NaN
freq,1,10,9,NaN,NaN
mean,NaN,NaN,NaN,149239.954545,231123.727273
std,NaN,NaN,NaN,14844.042921,25556.777061
min,NaN,NaN,NaN,130263.000000,187305.000000
25%,NaN,NaN,NaN,138087.750000,214960.750000
50%,NaN,NaN,NaN,147444.000000,229986.500000
75%,NaN,NaN,NaN,157627.500000,250909.000000
max,NaN,NaN,NaN,178939.000000,276279.000000

In [30]:
sales_data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

# The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing

H0:no change in sales
H1:increase in sales after entering to digital marketting

In [31]:
sales_data[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [32]:
ttest,pval=stats.ttest_rel(sales_data['Sales_before_digital_add(in $)'],sales_data['Sales_After_digital_add(in $)'])
#to test the relation between before and after sales, paired ttest is used

In [33]:
print(pval)

6.336667004575778e-11

In [34]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print('accept null hypothesis')

reject null hypothesis

that is increase in sales after implementig digital marketting

# 2.The company needs to check whether there is any dependency between the
features “Region” and “Manager”.

#in this question we want to compare dependecy betwen two categorical data so chi square is used

In [44]:
contingency_table=pd.crosstab(sales_data["Region"],sales_data["Manager"])
#for finding the contigency table crosstab is used

In [45]:
contingency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [46]:
#observed values
observed_values=contingency_table.values
print("observed values:-\n",observed_values)

observed values:-
 [[4 3 3]
 [4 1 2]
 [1 3 1]]

In [47]:
b=stats.chi2_contingency(contingency_table)
Expected_value=b[3]
print("expected valus:-",Expected_value)

expected valus:- [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

#to print degree of freedom

In [60]:
no_of_rows=len(contingency_table.iloc[0:2,0])
no_of_colmns=len(contingency_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_colmns-1)
#ddof means degree of freedom formula for calculating it is r-1*c-1
print("the degree of freedom is",ddof)
alpha=0.05

the degree of freedom is 1

In [61]:
chi_square=sum([(o-e)**2./e for o,e in zip(observed_values,Expected_value)])
chi_square_statistic=chi_square[0]+chi_square[1]
print("chi_square statistic:-:",chi_square_statistic)

chi_square statistic:-: 2.921995464852608

In [62]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical value:',critical_value)

critical value: 3.841458820694124

In [65]:
#p_value
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print("p value is:-",p_value)

p value is:- 0.08737974495299139

In [66]:
print("significant level:",alpha)

significant level: 0.05

In [67]:
print("degree of freedom",ddof)

degree of freedom 1

In [68]:
print("chi_square statistic:-:",chi_square_statistic)

chi_square statistic:-: 2.921995464852608

In [69]:
print('critical value:',critical_value)

critical value: 3.841458820694124

In [70]:
print("p value is:-",p_value)

p value is:- 0.08737974495299139

In [72]:
if chi_square_statistic>=critical_value:
    print("reject H0:there is dependency between region and manager")
else:
    print("accept null H0,there is no relation ship between region and manager")

accept null H0,there is no relation ship between region and manager

In [73]:
if p_value<=alpha:
    print("reject H0:there is dependency between region and manager")
else:
     print("accept null H0,there is no relation ship between region and manager")

accept null H0,there is no relation ship between region and manager